/* predefine */

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
}


/* header */

.header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: black;
}


/* nav */

.nav {
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: yellow;
    padding-top: 60px;
    box-sizing: inherit;
}


/* editForm */

.editForm {
    height: 100%;
    width: 100%;
    padding-top: 60px;
    padding-left: 200px;
    background-color: red;
    box-sizing: inherit;
}

.editForm>p {
    width: 200px;
    background-color: blue;
    margin: 0 auto;
}